<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @survey.school %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @survey.duration %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @survey.hotel %>
</p>

<p>
  <strong>Tailgating:</strong>
  <%= @survey.tailgating %>
</p>

<p>
  <strong>Taillocation:</strong>
  <%= @survey.taillocation %>
</p>

<p>
  <strong>Bar friday:</strong>
  <%= @survey.bar_friday %>
</p>

<p>
  <strong>After bar saturday:</strong>
  <%= @survey.after_bar_saturday %>
</p>

<p>
  <strong>Kappa:</strong>
  <%= @survey.kappa %>
</p>

<p>
  <strong>Beta:</strong>
  <%= @survey.beta %>
</p>

<p>
  <strong>Age:</strong>
  <%= @survey.age %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
